
application=myapp

dev: {
  host: dev.com
  port: 8080
}

test {
  host: test.com
  port: 8080
}
role: {
 id: 24
 name: 'admin'
 active: false
}

all: {
    roles: [
    admin
    sales
    support
    ]
}

devprofile {
      hostname: dev
     
    }
 devpath: ${devprofile.hostname}:8080
